@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

@font-face {
  font-family: "DOSFont";
  src: url("/public/Perfect DOS VGA 437 Win.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-gradient text-gray-800 font-['Raleway'] antialiased;
}

.custom-box-shadow {
  box-shadow: inset 0px 0px 0px 2px #333;
  border-radius: 50px;
}

.hide {
  opacity: 0;
  filter: blur(3px);
}

.show.fromleft {
  @apply animate-slideInFromLeft;
}

.show.fromright {
  @apply animate-slideInFromRight;
}

.show.section {
  @apply animate-aboutSession;
}
.typing-effect-wrapper {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 5px solid;
  animation: cursor 0.75s step-end infinite;
}

.text {
  display: inline-block;
  animation: revealText 2.5s steps(30) forwards;
}

@keyframes revealText {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.skills {
  box-shadow: inset 0px 0px 0px 2px #000;
  border-radius: 20px;
}

.work {
  box-shadow: inset 0px 0px 0px 2px #000;
  border-radius: 20px;
}

.textShadow {
  text-shadow: 3px 3px 3px #000;
}
